<!--navbar starts here-->
<div class="container-fluid">
    <app-navbar></app-navbar>
  </div>
  <!--navbar ends here-->
  
  <!--hero image starts here-->
  <div class="container-fluid mb-5">
    <div class="hero-image img-fluid">
      <div class="hero-text">
        <div class="row">
          <div class="col">
            <h1>Contact Us!</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--hero image ends here-->

<!--margin top of the form section-->
<div class="row my-5">
    <div class="col my-5"></div>
</div>

<div class="container">
    <div class="col">
        <h1>
            Fill the form.<br />
            it's easy. 
        </h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="get-in-touch">
                <form class="contact-form row forma pe-5">
                   <div class="form-field col-lg-6 ">
                      <input id="name" class="input-text js-input" type="text" placeholder="First name" required>
                   </div>
                    <div class="form-field col-lg-6 ">
                      <input id="name" class="input-text js-input" type="text" placeholder="Last name" required>
                   </div>
                   <div class="form-field col-lg-12">
                      <input id="email" class="input-text js-input" type="email" placeholder="Email" required>
                   </div>
                   <div class="form-field col-lg-12">
                      <input id="message" class="input-text js-input" type="text" placeholder="Message" required>
                   </div>
                   <div class="form-field col-lg-12">
                      <input class="submit-btn" type="submit" value="Send">
                   </div>
                </form>
            </div>
        </div> 

        <div class="col-6">
            <div class="mt-5 ms-5">
                <div class="ms-5">
                    <h3>
                        Let's talk about<br />
                        everything
                    </h3>
                    <p>
                        But I must explain to you how all this mistaken<br />
                        idea of denouncing pleasure and praising pain was<br />
                        born and I will give you a complete account of<br />
                        the system, and expound the actual teachings of
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--the form section ends here-->

<!--footer-->
<app-footer></app-footer>
<!--footer ends here-->