.navbar {
    opacity: 0.5;
    border-bottom: 1px solid whitesmoke;
    border-radius: 0px; //we don't want the navigation bar to be rounded I guess, My suggestion we can leave it as a square to map to the shape of the page
  }
  
  .navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .navbar-nav .nav-link {
    color: white;
  }
  