<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top mt-0"> 
  <div class="container">
    <a class="navbar-brand ms-5" routerLink="/">Epreuves.com</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item px-3">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item px-3">
          <a class="nav-link" href="#">9è</a>
        </li>
                <li class="nav-item px-3">
          <a class="nav-link" href="#">3è Post</a>
        </li>
        <li class="nav-item px-3">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item px-3">
          <a class="nav-link" routerLink="/epreuves">Epreuves</a>
        </li>
        <li class="nav-item px-3">
          <a class="nav-link" routerLink="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
