.navbar {
    opacity: 0.5;
    border-bottom: 1px solid whitesmoke;
    border-radius: 5px;
  }
  
  .navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .navbar-nav .nav-link {
    color: white;
  }
  